/* * public/style.css */ 
body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 50px;
        text-align: center;
    }

h1 {
  color: #333;
}

img {

  max-width: 700px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image-container span{
    margin-top: 25px;
    font-size: 20px;
    color: #6d6a6a;
    font-weight: 900;
}

.github-link {
    margin-top: 50px;
    font-size: 20px;
    color: #157886;
    font-weight: 900;
}
